.contact-page-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

hr {
    grid-column-start: 1;
    grid-column-end: 5;
}

.contact-page-header {
    grid-column-start: 1;
    grid-column-end: 4;
    letter-spacing: 0.15em;
    font-size: 4em;
    margin: auto;
    color: var(--custom-dark-blue);
    /*
    background-color: var(--custom-dark-blue);
    color: var(--custom-dark-gray);
    padding: 25px 50px;
    border-radius: 25px;
    */
}

.contact-page-socials-line p {
    letter-spacing: 0.1em;
    color: var(--custom-light-gray);
    background-color: var(--custom-light-blue);
    padding: 50px;
    margin: 25px;
    font-size: 1.1em;
    line-height: 1.1em;
    border-radius: 25px;
}

.contact-page-socials-container {
    margin: auto;
    color: var(--custom-dark-blue);
    letter-spacing: 0.1em;
    text-align: center;
}

.download-button {
    background-color: var(--custom-light-blue);
    border-radius: 10px;
    height: 3em;
    line-height: 3em;
    text-align: center;
    color: var(--custom-dark-gray);
}

.download-button:hover {
    background-color: var(--custom-dark-blue);
    color: var(--custom-light-gray);
    cursor: pointer;
}

.contact-page-socials-container img {
    width: 192px;
    height: 192px;
}

.resume-download {
    grid-column-start: 2;
    grid-column-end: 4;
    margin: auto;
}

.resume-download img {
    width: 152px;
    height: 172px;
}