<div class="contact-page-container">
    <h1 class="contact-page-header">Contact Me</h1>
    <div class="contact-page-socials-line">
        <p>I keep my LinkedIn and GitHub up to date with my current work,
            and I use my blog to talk about my personal projects. You are welcome
            to message me or connect with me on LinkedIn or follow me on GitHub! If 
            you would like to look over my resume, I have it attached here too. Finally, if 
            you would prefer to talk over email, feel free to contact me with the email 
            widget below (under construction).
        </p>
    </div>
    <a class="unsetall" href="https://www.linkedin.com/in/nathan-jobe/" target="_blank">
    <div class="contact-page-socials-container">
        <img src="/assets/images/icon-linkedin.png">
        <p>LinkedIn: nathan-jobe</p>
    </div>
    </a>
    <a class="unsetall" href="https://github.com/ovtsa" target="_blank">
    <div class="contact-page-socials-container">
        <img src="/assets/images/icon-github.png">
        <p>GitHub: @ovtsa</p>
    </div>
    </a>
    <img class="wip" src="/assets/images/icon-cone.svg">
    <!-- <app-contact-form></app-contact-form> -->
    <!--<div class="email-form">
        <p>The email form will go here</p>
    </div>-->
    <div class="resume-download">
        <img class="resume-download-img" src="/assets/images/icon-resume-download.png">
        <div class="download-button" (click)="onDownloadResumeButtonClicked()"><p>My Resume</p></div>
    </div>

    <!-- <img src="/assets/misc/doge2.jpg"> -->
</div>

