a {
    color: var(--custom-dark-gray);
}

.homepage-container {
    display: grid;
    grid-template-columns: minmax(480px, 2fr) 3fr;
    grid-template-rows: minmax(480px, 2fr) 3fr;
    /*height: 100%;*/
    box-sizing: border-box;
    padding: 8px;
    color: var(--custom-dark-blue);
}

.main-intro-flex {
    display: flex;
    flex-direction: row;
}

.homepage-intro-text-container {
    display: flex;
    flex-direction: column;
    padding: 100px 0px;
}

.profile-img-wrapper {
    background: url("src/assets/images/smiley.png") 50% 0% no-repeat;
    background-size: 100%;
    height: 384px;
    width: 384px;
    border-radius: 100%;
    border: 3px solid var(--custom-dark-blue);
    margin: auto;
    /*
    background: url("src/assets/images/profile.JPG") 50% 0% no-repeat;
    background-size: 125%;
    height: 384px;
    width: 384px;
    border-radius: 100%;
    border: 3px solid var(--custom-dark-blue);
    margin: auto;
    */
}

.intro-text-main {
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 1.5em;
    margin: auto;
}

.skills-list-wrapper {
    padding: 0 10%;
    align-content: center;
    margin-bottom: 3em;
}

.skills-list-descriptor {
    font-size: 1.5em;
    margin-bottom: 1.25em;
}

.skills-list {
    letter-spacing: 0.1em;
    display: flex;
    flex-direction: column;
}

.skills-list ul li {
    display: flex;
    align-items: center;
    padding: 12px 0px;
}

.li-icon {
    width: 24px;
    height: 24px;
    margin-right: 16px;
}

.resume-download-img {
    width: 50px;
    height: 50px;
}

.body-text-background {
    background-color: var(--custom-light-blue);
    padding: 2em;
    border-radius: 30px 30px;
}

.body-text {
    letter-spacing: 0.1em;
    font-size: 1.1em;
    line-height: 1.1em;
    color: var(--custom-dark-gray);
}

.university-and-resume-wrapper {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}

.university-logo {
    margin: auto;
    height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    line-height: 1.1em;
}

.resume-download {
    margin: auto;
    height: 100%;
}

.resume-download-img {
    width: 152px;
    height: 172px;
}

.download-button {
    background-color: var(--custom-light-blue);
    border-radius: 10px;
    height: 3em;
    line-height: 3em;
    text-align: center;
    color: var(--custom-dark-gray);
}

.download-button:hover {
    background-color: var(--custom-dark-blue);
    color: var(--custom-light-gray);
    cursor: pointer;
}

.quad4 {
    display: flex;
    flex-direction: column;
}