<div class="homepage-container grid-item">
    <div class="profile-img-wrapper grid-item">
    <!--    <img class="profile-photo" src="assets/images/profile.JPG">-->
    </div>
    <div class="homepage-intro-text-container grid-item">
        <p class="intro-text-main" style="font-size: 4em;">Hi, I'm Nathan</p>
        <p class="intro-text-main" style="text-align: left;">I'm a software developer based out of Charlotte, North Carolina</p>
    </div>
    <div class="skills-list-wrapper grid-item">
        <div class="skills-list">
            <p>Some of my skills:</p>
            <ul>
                <li><img class="li-icon" src="/assets/images/icon-angular.png"><p>Angular</p></li>
                <li><img class="li-icon" src="/assets/images/icon-typescript.png"><p>TypeScript/Javascript</p></li>
                <li><img class="li-icon" src="/assets/images/icon-java.png"><p>Java</p></li>
                <li><img class="li-icon" src="/assets/images/icon-c-sharp.png"><p>C#</p></li>
                <li><img class="li-icon" src="/assets/images/icon-css.png"><p>CSS (grid, flexbox)</p></li>
                <li><img class="li-icon" src="/assets/images/icon-dotnet-core.png"><p>.NET Core</p></li>
                <li><img class="li-icon" src="/assets/images/icon-devops.png"><p>CI/CD Pipeline Development in Microsoft Azure</p></li>
                <li><img class="li-icon" src="/assets/images/icon-stripe.png"><p>eCommerce Integration with Stripe</p></li>
                <li><img class="li-icon" src="/assets/images/icon-github.png"><p>Version Control with Git</p></li>
                <li><img class="li-icon" src="/assets/images/icon-agile.png"><p>Agile Workflow Methodology</p></li>
                <li><img class="li-icon" src="/assets/images/icon-restful-api.png"><p>RESTful API Development</p></li>
                <li><img class="li-icon" src="/assets/images/icon-mysql.png"><p>Relational Databases with SQL</p></li>
                <li><img class="li-icon" src="/assets/images/icon-docker.png"><p>Containerization with Docker/Kubernetes</p></li>
                <li><img class="li-icon" src="/assets/images/icon-data-structures.png"><p>Data Structures / Software Engineering Patterns</p></li>
            </ul>
        </div>
    </div>
    <p class="grid-item">I graduated from Appalachian State University with a B.S. in Computer Science
        in December 2020. Since then, I have been working in full-stack web development,
        in particular contributing to the development and maintenance of an internal web
        application for managing timesheets at my current company, SCI Fusion360 (now owned
        by Persistent Systems).<br><br></p>
        <!-- I am interested in relocating to Denver this year, and I am seeking work
        in the area! If interested, my resume is available to the left.
    </p>-->
</div>
