<div class="homepage-container">
    <div class="profile-img-wrapper">
    <!--    <img class="profile-photo" src="assets/images/profile.JPG">-->
    </div>
    <div class="homepage-intro-text-container">
        <p class="intro-text-main" style="font-size: 4em;">Hi, I'm Nathan</p>
        <p class="intro-text-main" style="text-align: left;">I'm a software developer based out of Charlotte, North Carolina</p>
    </div>
    <div class="skills-list">
        <p>Some of my skills:</p>
        <ul>
            <li>Angular</li>
            <li>TypeScript/Javascript</li>
            <li>Java</li>
            <li>C#</li>
            <li>CSS</li>
            <li>.NET Core</li>
            <li>CI/CD Pipeline Development in Microsoft Azure</li>
            <li>eCommerce Integration with Stripe</li>
            <li>Version Control with Git</li>
            <li>Agile Workflow Methodology</li>
            <li>RESTful API Development</li>
            <li>Relational Databases with SQL</li>
            <li>Containerization with Docker/Kubernetes</li>
            <li>Data Structures / Software Engineering Patterns</li>
        </ul>
        <a href="#">Click here to download my resume</a>
    </div>
    <p>I graduated from Appalachian State University with a B.S. in Computer Science
        in December 2020. Since then, I have been working in full-stack web development,
        in particular contributing to the development and maintenance of an internal web
        application for managing timesheets at my current company, SCI Fusion360 (now owned
        by Persistent Systems).
    </p>
</div>
