<div class="homepage-container grid-item">
    <div class="profile-img-wrapper grid-item">
    <!--    <img class="profile-photo" src="assets/images/profile.JPG">-->
    </div>
    <div class="homepage-intro-text-container grid-item">
        <p class="intro-text-main" style="font-size: 4em;">Hi, I'm Nathan</p>
        <p class="intro-text-main" style="text-align: left;">I'm a software developer based out of Charlotte, North Carolina</p>
    </div>
    <div class="skills-list-wrapper grid-item">
        <div class="skills-list">
            <p class="skills-list-descriptor">Some of my skills -</p>
            <ul>
                <li><img class="li-icon" src="/assets/images/icon-angular.png"><p>Angular</p></li>
                <li><img class="li-icon" src="/assets/images/icon-typescript.png"><p>TypeScript/Javascript</p></li>
                <li><img class="li-icon" src="/assets/images/icon-java.png"><p>Java</p></li>
                <li><img class="li-icon" src="/assets/images/icon-c-sharp.png"><p>C#</p></li>
                <li><img class="li-icon" src="/assets/images/icon-css.png"><p>CSS (grid, flexbox)</p></li>
                <li><img class="li-icon" src="/assets/images/icon-dotnet-core.png"><p>.NET Core</p></li>
                <li><img class="li-icon" src="/assets/images/icon-devops.png"><p>CI/CD Pipeline Development in Microsoft Azure</p></li>
                <li><img class="li-icon" src="/assets/images/icon-stripe.png"><p>eCommerce Integration with Stripe</p></li>
                <li><img class="li-icon" src="/assets/images/icon-github.png"><p>Version Control with Git</p></li>
                <li><img class="li-icon" src="/assets/images/icon-agile.png"><p>Agile Workflow Methodology</p></li>
                <li><img class="li-icon" src="/assets/images/icon-restful-api.png"><p>RESTful API Development</p></li>
                <li><img class="li-icon" src="/assets/images/icon-mysql.png"><p>Relational Databases with SQL</p></li>
                <li><img class="li-icon" src="/assets/images/icon-docker.png"><p>Containerization with Docker/Kubernetes</p></li>
                <li><img class="li-icon" src="/assets/images/icon-data-structures.png"><p>Data Structures / Software Engineering Patterns</p></li>
            </ul>
        </div>
    </div>
    <div class="grid-item quad4">
        <div class="body-text-background">
            <p class="body-text">For as long as I can remember, my passion has lain at the intersection of problem-solving and design. 
                Ever since I first started programming Lego NXT bots as a child, I have enjoyed exploring the ever-evolving field of 
                software development, primarily focusing on web application technologies.
                <br><br>
                Since graduating college in 2020, I have been working in the development and maintenance of internal full-stack applications
                at my current company, SCI Fusion360 (recently acquired by Persistent Systems). I have gained tangible work experience on both
                the front and the back end of the software development life cycle, and the skills I have learned from my work fuel my other projects, 
                visible in the navigation bar to the left.
                <br><br>
                This website serves as a homepage for my personal projects and my blog. If this interests you, feel free to follow my GitHub 
                <a href="#">here</a>, or my blog <a href="#">here</a>.
                <br><br>
                I am interested in relocating to the greater Chicago area this year. If you have work available in the region, or are interested in 
                getting help with another project, I would love to get in touch!
            </p>
        </div>
        <div class="university-and-resume-wrapper">
            <div class="university-logo">
                <img class="university-logo-img" src="/assets/images/icon-asu.svg">
                <p>B.S. in Computer Science<br>Appalachian State University<br>December 2020</p>
            </div>
            <div class="resume-download">
                <img class="resume-download-img" src="/assets/images/icon-resume-download.png">
                <div class="download-button" (click)="onDownloadResumeButtonClicked()"><p>My Resume</p></div>
            </div>
        </div>
    </div>
</div>
