<div class="minesweeper-game-container" oncontextmenu="return false">
    <div class="minesweeper-game-ui-container">
        <div class="minesweeper-game-top-buttons-ribbon">
            <app-minesweeper-ui-num-field [value]="uiTimer"></app-minesweeper-ui-num-field>
            <div class="minesweeper-game-button" 
                (mousedown)="gameButtonPressed()"
                (mouseup)="gameButtonReleased()"
                (mouseleave)="cancelGameButtonClick()">
                <img [src]="gameButtonImageSrc" />
            </div>
            <app-minesweeper-ui-num-field [value]="uiMineCounter"></app-minesweeper-ui-num-field>
        </div>
        <table class="minesweeper-game-cell-grid" (mouseleave)="mouseUpOnCell(0, 0, true)">
            <tr *ngFor="let row of board.grid; index as y">
                <td *ngFor="let col of board.grid[y]; index as x">
                    <div class="minesweeper-game-cell" (mousedown)="mouseDownOnCell($event, x, y)" (contextmenu)="test()"
                            (mouseup)="mouseUpOnCell(x, y, false)">
                        <img [src]="board.grid[y][x].getCellImage(gameOver, gameWon)" (keypress)="test()">
                    </div>
                </td>
            </tr>
        </table>
        <div class="minesweeper-game-bottom-buttons-ribbon">
            <div class="minesweeper-see-high-scores-button"></div>
            <div class="minesweeper-change-difficulty-button"></div>
        </div>
    </div>
</div>