:host {
    grid-row-start: 2;
    grid-row-end: 4;
}

.navbar-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--custom-dark-blue);
    color: var(--custom-light-gray);
}

.navbar-items {
    height: min-content;
    top: 64px;
    position: sticky;
    margin-bottom: 80%;
}

.navbar-flicker-stopper {
    height: 40vh;
    width: 100%;
    background-color: var(--custom-dark-blue);
    top: 70vh;
    position: sticky;
}

.button-container {
    margin-top: 60px;
}

img {
    background-color: var(--custom-light-gray);
    border-radius: 50%;
    border: 4px solid var(--custom-light-gray);
    display: block;
    width: 50%;
    margin: 20px auto;
}