<div class="footer-container">
    <div class="footer-socials-container">
        <div>
            <a href="https://github.com/ovtsa" target="_blank"><img src="/assets/images/icon-github.png"><p>@ovtsa</p></a>
        </div>
    </div>
    <div><p>Nathan Jobe</p></div>
    <div class="footer-socials-container">
        <div>
            <a href="https://www.linkedin.com/in/nathan-jobe/" target="_blank"><img src="/assets/images/icon-linkedin.png"><p>LinkedIn</p></a>
        </div>
    </div>
</div>
